include README.rst
include LICENSE
include requirements*.txt
include examples/*.*
include tests/*.py
include tests/test_data/*.*
include tests/test_results/.gitignore
include beams/data/*.*
include beams/data/databases/*.*